{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cart{% endblock %}</h1>
  <a class="action" href="{{ url_for('index') }}">Continue Browsing</a>
  {% if g.user %}
  {% endif %}
{% endblock %} 

{% block content %}

{% for product in products %}
{% if cart[product['productID']|string] >= 1%}
<div class="product-item">
                <form method="post" action="/edit">
                    <div class="product-image"><img src="static/img/{{ product['productID']}}.jpg" alt="" width="200px" height="200px"></div>
                    <div class="product-tile-footer">
                        <div class="product-title">{{ product['title']}}</div>
                        <div class="product-price">{{ product['price']}}</div>
                        <div class="cart-action">
                            <input type="hidden" name="code" value="{{ product['productID']}}"/>
                            <input type="text" class="product-quantity" name="quantity" value= {{cart[product['productID']|string]}} size="2" />
                            <input type="submit" value="Edit Quantity" class="btnAddAction" />
                        </div>
                    </div>
                </form>
            </div>  
{% endif %}   
{% endfor %}

<div class="chckoutbutton">
  <form method="post" action="/checkout">
     <input type="submit" value="Check Out Now" class="btnAddAction" />
   </form>
    {%if total == 0%}
    <h1>Total Price ${{total|int}}</h1>
    {% endif%}
   <h1>Total Price ${{total|round(2, 'floor')}}</h1>
 </div>
{% endblock %}





