{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Inventory{% endblock %}</h1>
    <a class="action" href="{{ url_for('store.salesview') }}">Return to Order Form</a>

{% endblock %} 

{% block content %}

<h1> Inventory </h1>

<ul>
{% for product in products%}
<li>
    <div>
    <img src="static/img/{{ product }}.jpg" alt="" width="75px" height="75px">

    <span >{{ products[product][0]}}- </span>
    Inventory:
   <span> {{products[product][1]}}</span>
    </div>
</li>   
{% endfor %}
</ul>

{% endblock %} 


